.box img {
    width: 100%;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.box:hover img {
    transform: scale(1.05);
}

.breadcrum {
    padding-top: 30px;
}

.breadcrum a {
    font-size: 20px;
    color: #000000;
}

.tab-wrapper .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.tab-wrapper .row .col {
    width: 48%;
}

.tab-wrapper .row .col img {
    width: 100%;
    margin-bottom: 20px;
}

.tab-wrapper .row .col video {
    width: 100%;
    margin-bottom: 20px;

}

.tabs {
    display: flex;
    gap: 10px;
    margin: 30px 0;
}

.tab-btn {
    padding: 10px 20px;
    border: none;
    background: #ddd;
    cursor: pointer;
    font-size: 16px;
    border-radius: 4px;
}

.tab-btn.active {
    background: #33b6bb;
    color: #fff;
}

.tab-content {
    display: none;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.tab-content.active {
    display: block;
}

@media (max-width:580px) {
    .tab-wrapper .row .col {
        width: 100%;
    }
}